.cars__heading {
	text-align: center;
}

.car--link {
	text-decoration: none;
	text-transform: none;
	display: inline-block;
}

#cars {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-end;
}

.car {
	padding: 10px;
	margin: 10px;
	width: 45%;
	min-height: 210px;
	display: block;
	color: var(--mainYellow);
	border: 1px solid var(--mainYellow);
	cursor: pointer;
}

.car:hover {
	background-color: rgba(255, 209, 0, 0.2);
}

.car__image {
	float: left;
	margin-right: 20px;
}

.car > ul {
	list-style-type: none;
}

.button--car {
	padding: 9px 10px;
	color: black;
	background-color: var(--mainYellow);
	border: 1px solid var(--mainYellow);
	text-decoration: none;
}

.button--car:hover {
	color: var(--mainYellow);
	background-color: black;
	border: 1px solid var(--mainYellow);
}
